<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.aclonica-regular {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* Hero Section */

body{
    background-color : #d1c0a5 ;
    color : #f7f7f7;
}

.hero{
    background-color: #1e2023;
    color: azure;
    display: flex;
    padding: 30px 20px 30px 20px;
    gap: 50px;

}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;

    width: 220px;
    height: 30px;
}

.logo img{
    width: 70px;
}

.logo p{
    font-size: 20px;
    font-family: "Aclonica", sans-serif;
}

.navbar{
    padding: 5px;
    display: flex;
    gap: 50px;
    justify-content: space-between;

}

      /*  Collection  */

.ducati{
        background: linear-gradient(
        90deg ,
        black 20%,
        #3c0016 80%
    );
    /* flex-wrap: wrap; */
    margin: 0px 0px 20px 0px ;
    display: flex;
    align-items: center;
    height: 450px;
    padding: 50px 8%;
    width: auto;
}

.bike-img{
    position: relative;

    flex: 1;
    min-width: 300px;
}

.bike-img img{
    position: relative;
    z-index: 2;
    width: 100%;
    min-width: 30%;
    filter: drop-shadow(0 0 25px red);
}
.bike-img h2{
    font-family: "Bebas Neue", sans-serif;
    position: absolute;
    font-size: clamp(80px, 14vw, 220px);
    z-index: 1;
    top: 25%;
    left: 3%;
    font-weight: bold;

    background: linear-gradient(
        to bottom,
        white 20%,
        rgba(255, 255, 255, 0) 80%
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.bike-img h3{
    position: absolute;
    font-size: clamp(10px, 5vw, 20px);
    z-index: 3;
    top: 70%;
    left:25%;
    color:#d1c0a5 ;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.front-text{

    flex: 1;

    min-width: 300px;

    padding-left: 20%;

    margin-left: 2%;

    z-index: 3;
}

.front-text h3{
    color: #d1c0a5;

    font-family: "Bebas Neue", sans-serif;

    font-size: clamp(35px, 4vw, 70px);

    margin-bottom: 20px;
}

.front-text p{
    line-height: 2;
    color: #d1c0a5;
}

.front-text button{
    margin-top: 25px;

    padding: 14px 32px;

    border: none;

    background: red;
    color: white;

    cursor: pointer;

    border-radius: 15px;
}

/*  BMW Motorrad HP-X   */

.bmw-bike{
        background: linear-gradient(
        90deg ,
        #2d82b5 20%,
        black 80%
        
    );
    /* flex-wrap: wrap; */
    margin: 10px 0px 0px 0px ;
    display: flex;
    align-items: center;
    height: 450px;
    padding: 50px 8%;
    width: auto;
}

.bmw{
    position: relative;
    flex: 1;
    min-width: 300px;
}

.bmw img{
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 700px;
    min-width: 30%;
    filter: drop-shadow(0 0 25px #067cea);
}
.bmw h2{
    font-family: "Bebas Neue", sans-serif;
    position: absolute;
    font-size: clamp(80px, 14vw, 220px);
    z-index: 1;
    top: 0%;
    right: 3%;
    font-weight: bold;

    background: linear-gradient(
        to bottom,
        white 20%,
        rgba(255, 255, 255, 0) 80%
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.bmw h3{
    position: absolute;
    font-size: clamp(10px, 5vw, 20px);
    z-index: 3;
    top: 100%;
    left:25%;
    color:#e9e5dc;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.front-btext{

    flex: 1;

    min-width: 300px;

    padding-right: 20%;

    margin-right: 2%;

    z-index: 3;
}

.front-btext h3{
    color: #e9e5dc;

    font-family: "Bebas Neue", sans-serif;

    font-size: clamp(35px, 4vw, 70px);

    margin-bottom: 20px;
}

.front-btext p{
    line-height: 2;
    color:#e9e5dc;
}

.front-btext button{
    margin-top: 25px;

    padding: 14px 32px;

    border: none;

    background: #000f22;
    color: #e9e5dc;

    cursor: pointer;

    border-radius: 15px;
}

/*  Yamha   */

.yamha-bike{
        background: linear-gradient(
        90deg ,
        black 20%,
        #011064 80%
    );
    /* flex-wrap: wrap; */
    margin: 20px 0px 0px 0px ;
    display: flex;
    align-items: center;
    height: 450px;
    padding: 50px 8%;
    width: auto;

}

.yamha{
    position: relative;
    flex: 1;
    min-width: 300px;
}

.yamha img{
    position: relative;
    z-index: 2;
    width: 100%;
    min-width: 30%;
    filter: drop-shadow(0 0 25px #1428a0);
}
.yamha h2{
    font-family: "Bebas Neue", sans-serif;
    position: absolute;
    font-size: clamp(80px, 14vw, 220px);
    z-index: 1;
    top: 0%;
    left: 3%;
    font-weight: bold;

    background: linear-gradient(
        to bottom,
        white 20%,
        rgba(255, 255, 255, 0) 80%
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.yamha h3{
    position: absolute;
    font-size: clamp(10px, 5vw, 20px);
    z-index: 3;
    top: 100%;
    left:25%;
    color:#d1c0a5;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.front-ytext{

    flex: 1;

    min-width: 300px;

    padding-left: 20%;

    margin-left: 2%;

    z-index: 3;
}

.front-ytext h3{
    color: #d1c0a5;

    font-family: "Bebas Neue", sans-serif;

    font-size: clamp(35px, 4vw, 70px);

    margin-bottom: 20px;
}

.front-ytext p{
    line-height: 2;
    color: #d1c0a5;
}

.front-ytext button{
    margin-top: 25px;

    padding: 14px 32px;

    border: none;

    background: #132ec7;
    color: #d1c0a5;

    cursor: pointer;

    border-radius: 15px;
}



/*  Ninja   */

.ninja-bike{
        background: linear-gradient(
        90deg ,
        black 20%,
        white 80%
    );
    /* flex-wrap: wrap; */
    margin: 10px 0px 0px 0px ;
    display: flex;
    align-items: center;
    height: 450px;
    padding: 50px 8%;
    width: auto;
}

.ninja{
    position: relative;
    flex: 1;
    min-width: 300px;
}

.ninja img{
    position: relative;
    z-index: 2;
    width: 100%;
    min-width: 30%;
    filter: drop-shadow(0 0 25px white);
}
.ninja h2{
    font-family: "Bebas Neue", sans-serif;
    position: absolute;
    font-size: clamp(80px, 14vw, 220px);
    z-index: 1;
    top: 0%;
    left: 3%;
    font-weight: bold;

    background: linear-gradient(
        to bottom,
        white 20%,
        rgba(255, 255, 255, 0) 80%
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.ninja h3{
    position: absolute;
    font-size: clamp(10px, 5vw, 20px);
    z-index: 3;
    top: 100%;
    left:25%;
    color:#f1f1f1;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.front-ntext{

    flex: 1;

    min-width: 300px;

    padding-left: 20%;

    margin-left: 2%;

    z-index: 3;
}

.front-ntext h3{
    color: #252626;

    font-family: "Bebas Neue", sans-serif;

    font-size: clamp(35px, 4vw, 70px);

    margin-bottom: 20px;
}

.front-ntext p{
    line-height: 2;
    color: #252626;
}

.front-ntext button{
    margin-top: 25px;

    padding: 14px 32px;

    border: none;

    background: #252626;
    color: #f1f1f1;

    cursor: pointer;

    border-radius: 15px;
}

/*  Gallary   */

/* .gallary{

    background-color: #2a2529;

    display: grid;

     grid-template-columns: repeat(3, 1fr); 

    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

    gap: 25px;

    padding: 50px;

    justify-items: center;

    gap: 25px;

    padding: 50px;

    overflow: visible; 

    
} */

.gallary{

    background-color: #2a2529;
    
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 25px;

    padding: 50px;

    justify-items: center;
}

/* .card{
    position: relative;

    width: 320px;

    height: 220px;

    border-radius: 20px;

    overflow: hidden;

    cursor: pointer;

    transition: 0.4s;
} */

.card{
    position: relative;

    width: 100%;

    max-width: 320px;

    aspect-ratio: 16/11;

    border-radius: 20px;

    overflow: hidden;

    cursor: pointer;

    transition: 0.4s;
}

.card img{
    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: 0.4s;
}

.overlay{
    position: absolute;

    inset: 0;

    background: rgba(0,0,0,0.6);

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    opacity: 0;

    transition: 0.4s;

    color: white;

    text-align: center;
}

.overlay h2{
    font-family: "Bebas Neue", sans-serif;

    font-size: 40px;

    margin-bottom: 10px;
}

.overlay p{
    font-size: 18px;
}

.card:hover{
    transform: scale(1.12);

    z-index: 100;

    box-shadow: 0 0 40px rgba(0,0,0,0.5);
}

.card:hover img{
    transform: scale(1.1);
}

.card:hover .overlay{
    opacity: 1;
}
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.aclonica-regular {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* Hero Section */

body{
    background-color : #d1c0a5 ;
    color : #f7f7f7;
}

.hero{
    background-color: #1e2023;
    color: azure;
    display: flex;
    padding: 30px 20px 30px 20px;
    gap: 50px;

}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;

    width: 220px;
    height: 30px;
}

.logo img{
    width: 70px;
}

.logo p{
    font-size: 20px;
    font-family: "Aclonica", sans-serif;
}

.navbar{
    padding: 5px;
    display: flex;
    gap: 50px;
    justify-content: space-between;

}

      /*  Collection  */

.ducati{
        background: linear-gradient(
        90deg ,
        black 20%,
        #3c0016 80%
    );
    /* flex-wrap: wrap; */
    margin: 0px 0px 20px 0px ;
    display: flex;
    align-items: center;
    height: 450px;
    padding: 50px 8%;
    width: auto;
}

.bike-img{
    position: relative;

    flex: 1;
    min-width: 300px;
}

.bike-img img{
    position: relative;
    z-index: 2;
    width: 100%;
    min-width: 30%;
    filter: drop-shadow(0 0 25px red);
}
.bike-img h2{
    font-family: "Bebas Neue", sans-serif;
    position: absolute;
    font-size: clamp(80px, 14vw, 220px);
    z-index: 1;
    top: 25%;
    left: 3%;
    font-weight: bold;

    background: linear-gradient(
        to bottom,
        white 20%,
        rgba(255, 255, 255, 0) 80%
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.bike-img h3{
    position: absolute;
    font-size: clamp(10px, 5vw, 20px);
    z-index: 3;
    top: 70%;
    left:25%;
    color:#d1c0a5 ;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.front-text{

    flex: 1;

    min-width: 300px;

    padding-left: 20%;

    margin-left: 2%;

    z-index: 3;
}

.front-text h3{
    color: #d1c0a5;

    font-family: "Bebas Neue", sans-serif;

    font-size: clamp(35px, 4vw, 70px);

    margin-bottom: 20px;
}

.front-text p{
    line-height: 2;
    color: #d1c0a5;
}

.front-text button{
    margin-top: 25px;

    padding: 14px 32px;

    border: none;

    background: red;
    color: white;

    cursor: pointer;

    border-radius: 15px;
}

/*  BMW Motorrad HP-X   */

.bmw-bike{
        background: linear-gradient(
        90deg ,
        #2d82b5 20%,
        black 80%
        
    );
    /* flex-wrap: wrap; */
    margin: 10px 0px 0px 0px ;
    display: flex;
    align-items: center;
    height: 450px;
    padding: 50px 8%;
    width: auto;
}

.bmw{
    position: relative;
    flex: 1;
    min-width: 300px;
}

.bmw img{
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 700px;
    min-width: 30%;
    filter: drop-shadow(0 0 25px #067cea);
}
.bmw h2{
    font-family: "Bebas Neue", sans-serif;
    position: absolute;
    font-size: clamp(80px, 14vw, 220px);
    z-index: 1;
    top: 0%;
    right: 3%;
    font-weight: bold;

    background: linear-gradient(
        to bottom,
        white 20%,
        rgba(255, 255, 255, 0) 80%
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.bmw h3{
    position: absolute;
    font-size: clamp(10px, 5vw, 20px);
    z-index: 3;
    top: 100%;
    left:25%;
    color:#e9e5dc;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.front-btext{

    flex: 1;

    min-width: 300px;

    padding-right: 20%;

    margin-right: 2%;

    z-index: 3;
}

.front-btext h3{
    color: #e9e5dc;

    font-family: "Bebas Neue", sans-serif;

    font-size: clamp(35px, 4vw, 70px);

    margin-bottom: 20px;
}

.front-btext p{
    line-height: 2;
    color:#e9e5dc;
}

.front-btext button{
    margin-top: 25px;

    padding: 14px 32px;

    border: none;

    background: #000f22;
    color: #e9e5dc;

    cursor: pointer;

    border-radius: 15px;
}

/*  Yamha   */

.yamha-bike{
        background: linear-gradient(
        90deg ,
        black 20%,
        #011064 80%
    );
    /* flex-wrap: wrap; */
    margin: 20px 0px 0px 0px ;
    display: flex;
    align-items: center;
    height: 450px;
    padding: 50px 8%;
    width: auto;

}

.yamha{
    position: relative;
    flex: 1;
    min-width: 300px;
}

.yamha img{
    position: relative;
    z-index: 2;
    width: 100%;
    min-width: 30%;
    filter: drop-shadow(0 0 25px #1428a0);
}
.yamha h2{
    font-family: "Bebas Neue", sans-serif;
    position: absolute;
    font-size: clamp(80px, 14vw, 220px);
    z-index: 1;
    top: 0%;
    left: 3%;
    font-weight: bold;

    background: linear-gradient(
        to bottom,
        white 20%,
        rgba(255, 255, 255, 0) 80%
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.yamha h3{
    position: absolute;
    font-size: clamp(10px, 5vw, 20px);
    z-index: 3;
    top: 100%;
    left:25%;
    color:#d1c0a5;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.front-ytext{

    flex: 1;

    min-width: 300px;

    padding-left: 20%;

    margin-left: 2%;

    z-index: 3;
}

.front-ytext h3{
    color: #d1c0a5;

    font-family: "Bebas Neue", sans-serif;

    font-size: clamp(35px, 4vw, 70px);

    margin-bottom: 20px;
}

.front-ytext p{
    line-height: 2;
    color: #d1c0a5;
}

.front-ytext button{
    margin-top: 25px;

    padding: 14px 32px;

    border: none;

    background: #132ec7;
    color: #d1c0a5;

    cursor: pointer;

    border-radius: 15px;
}



/*  Ninja   */

.ninja-bike{
        background: linear-gradient(
        90deg ,
        black 20%,
        white 80%
    );
    /* flex-wrap: wrap; */
    margin: 10px 0px 0px 0px ;
    display: flex;
    align-items: center;
    height: 450px;
    padding: 50px 8%;
    width: auto;
}

.ninja{
    position: relative;
    flex: 1;
    min-width: 300px;
}

.ninja img{
    position: relative;
    z-index: 2;
    width: 100%;
    min-width: 30%;
    filter: drop-shadow(0 0 25px white);
}
.ninja h2{
    font-family: "Bebas Neue", sans-serif;
    position: absolute;
    font-size: clamp(80px, 14vw, 220px);
    z-index: 1;
    top: 0%;
    left: 3%;
    font-weight: bold;

    background: linear-gradient(
        to bottom,
        white 20%,
        rgba(255, 255, 255, 0) 80%
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.ninja h3{
    position: absolute;
    font-size: clamp(10px, 5vw, 20px);
    z-index: 3;
    top: 100%;
    left:25%;
    color:#f1f1f1;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.front-ntext{

    flex: 1;

    min-width: 300px;

    padding-left: 20%;

    margin-left: 2%;

    z-index: 3;
}

.front-ntext h3{
    color: #252626;

    font-family: "Bebas Neue", sans-serif;

    font-size: clamp(35px, 4vw, 70px);

    margin-bottom: 20px;
}

.front-ntext p{
    line-height: 2;
    color: #252626;
}

.front-ntext button{
    margin-top: 25px;

    padding: 14px 32px;

    border: none;

    background: #252626;
    color: #f1f1f1;

    cursor: pointer;

    border-radius: 15px;
}

>>>>>>> c5237731e4ebfecbd742c15a445d674aa50b238d
