*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.aclonica-regular {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button:hover {
    transition-duration: 0.5s;
    transform: scale(1.1);
    
}


/* Hero Section */


body{
    padding-top: 90px;

    color : #f7f7f7;

    overflow-x: hidden;
}

.hero{

    position: fixed;

    top: 0;

    left: 0;

    width: 100%;

    height: 90px;

    padding: 0 20px;

    box-sizing: border-box;

    display: flex;

    align-items: center;

    gap: 50px;

    background: rgba(0, 0, 0, 0.8);

    backdrop-filter: blur(5px);

    z-index: 1000;
}

.logo{

    display: flex;

    align-items: center;

    gap: 10px;

    width: 220px;

    height: 30px;
}

.logo img{

    width: 70px;
}

.logo p{

    font-size: 20px;

    color: white;

    font-family: "Aclonica", sans-serif;
}

.navbar{

    flex: 1;

    display: flex;

    align-items: center;

    justify-content: space-evenly;

    margin-left: 20px;
}

.navbar a{

    text-decoration: none;

    color: white;

    white-space: nowrap;
}

.search_box{
    margin-right: 20px;
}

.search_box input{
    padding: 10px ;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid black;
    width: 30vw;
    color: black;
    font-weight: bolder;
}

@media(max-width: 768px){

    .hero{
    gap: 3vw;
    }

    .navbar{

        margin-left: 10px;

        justify-content: space-evenly;
        
    }

    .navbar a{

        font-size: 14px;
    }

    .search_box input{
        width: 10vw;
    }
}


/*  Ducati   */

.ducati{

    background: linear-gradient(
        90deg,
        black 20%,
        #3c0016 80%
    );

    display: flex;

    flex-wrap: wrap;

    overflow: hidden;

    align-items: center;

    align-content: center;

    height: 450px;

    padding: 40px 8%;

    box-sizing: border-box;

    overflow: hidden;
}

.bike-img img{

    position: relative;

    z-index: 2;

    width: 100%;

    width: min(100%, 700px);

    width: min(85%, 650px);

    max-width: 700px;

    filter: drop-shadow(0 0 25px red);
}

.bike-img{

    position: relative;

    flex: 1 1 400px;

    display: flex;

    justify-content: center;

    align-items: center;

    padding-bottom: 70px;

} 


.bike-img h2{

    font-family: "Bebas Neue", sans-serif;

    position: absolute;

    top: 10%;

    left: 50%;

    transform: translateX(-50%);

    font-size: clamp(200px, 14vw, 260px);

    z-index: 1;

    font-weight: bold;

    white-space: nowrap;

    background: linear-gradient(
        to bottom,
        white 20%,
        rgba(255,255,255,0) 80%
    );

    background-clip: text;

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.bike-img h3{

    position: absolute;

    font-size: clamp(10px, 5vw, 20px);

    z-index: 3;

    bottom: 8%;

    left: 50%;

    transform: translateX(-50%);

    color:#d1c0a5;

    font-weight: bolder;

    font-family: Arial, Helvetica, sans-serif;

    white-space: nowrap;
}

.front-text{

    flex: 1;

    /* min-width: 300px; */

    padding-left: 20%;

    margin-left: 2%;

    z-index: 3;
}

.front-text h3{
    color: #d1c0a5;

    font-family: "Bebas Neue", sans-serif;

    font-size: clamp(35px, 4vw, 70px);

    margin-bottom: 20px;
    
}

.front-text p{
    line-height: 2;
    color: #d1c0a5;
}

.front-text button{
    margin-top: 25px;

    padding: 14px 32px;

    border: none;

    background: red;

    color: white;

    cursor: pointer;

    border-radius: 15px;
}

.front-text a{
    text-decoration: none;
}

.bike-img,
.front-text{
    flex: 1 1 400px;
}


@media(max-width: 900px){

    .ducati{

        height: auto;

        padding: 80px 8%;

        background: linear-gradient(

        black 20%,
        #3c0016 80%
    );
    }

    .bike-img h2{

        font-size: clamp(90px, 22vw, 160px);

        top: 10%;

        left: 50%;

        transform: translateX(-50%);

        opacity: 1;
    }


    .front-text{

        padding-left: 0;

        text-align: center;
    }

    .front-text h3{

        margin-top: 20px;
    }

    .front-text button{

        display: block;

        margin: 25px auto 0;
    }
}

/*  BMW Motorrad HP-X   */

.bmw-bike{
        background: linear-gradient(
        90deg ,
        #2d82b5 20%,
        black 80%
        
    );
   
    margin: 10px 0px 0px 0px ;
    display: flex;
    align-items: center;
    height: 450px;
    padding: 50px 8%;
    width: auto;
}

.bmw{
    position: relative;
    flex: 1;
    min-width: 300px;
}

.bmw img{
    position: relative;

    z-index: 2;

    width: 100%;

    max-width: 700px;

    min-width: 30%;

    filter: drop-shadow(0 0 25px #067cea);
}
.bmw h2{
    font-family: "Bebas Neue", sans-serif;

    position: absolute;

    font-size: clamp(80px, 14vw, 220px);

    z-index: 1;

    top: 0%;

    right: 0%;

    font-weight: bold;

    background: linear-gradient(
        to bottom,
        white 20%,
        rgba(255, 255, 255, 0) 80%
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.bmw h3{
    position: absolute;

    font-size: clamp(10px, 5vw, 20px);

    z-index: 3;

    top: 100%;

    left:25%;

    color:#e9e5dc;

    font-weight: bold;
    
    font-family: Arial, Helvetica, sans-serif;
}

.front-btext{

    flex: 1;

    min-width: 300px;

    padding-right: 20%;

    margin-right: 2%;

    z-index: 3;
}



.front-btext h3{
    color: #e9e5dc;

    font-family: "Bebas Neue", sans-serif;

    font-size: clamp(35px, 4vw, 70px);

    margin-bottom: 20px;
}

.front-btext p{
    line-height: 2;
    color:#e9e5dc;
}

.front-btext button{
    margin-top: 25px;

    padding: 14px 32px;

    border: none;

    background: black;
    color: #e9e5dc;

    cursor: pointer;

    border-radius: 15px;
}

.front-btext a{
    text-decoration: none;
}
 
@media(max-width: 900px){

.bmw-bike{

        height: auto;

        padding: 80px 8%;

        display: flex;

        flex-direction : column;

        flex-wrap: wrap;

        background: linear-gradient(
    
        black 20%,
        #2d82b5 80%
    );
    }

.bmw{

        margin-top: 60px;
    }

.bmw h3{

    position: absolute;

    left: 50%;

    top: 85%;

    transform: translateX(-50%);
}

    .bmw h2{

        font-size: clamp(90px, 22vw, 160px);

        top: 0%;

        left: 50%;

        padding-left: 10%;

        transform: translateX(-50%);

        opacity: 1;

        width: 100%;
    }

    .front-btext{

    width: 100%;

    margin-left: 0;

    padding: 0 8%;

    text-align: center;
    
}

.front-btext button{

    display: block;

    margin: 25px auto 0;

    background: #2d82b5;
}

    .front-btext h3{

        margin-top: 20px;

    }
}


/*  Yamha   */

.yamha-bike{

    background: linear-gradient(
        90deg,
        black 20%,
        #011064 80%
    );

    display: flex;

    flex-wrap: wrap;

    align-items: center;

    align-content: center;

    margin-top: 10px;

    height: 450px;

    padding: 40px 8%;

    box-sizing: border-box;
}

.yamha{

    position: relative;

    flex: 1 1 400px;

    display: flex;

    justify-content: center;

    align-items: center;

} 

.yamha img{

    position: relative;

    z-index: 2;

    width: min(85%, 650px);

    max-width: 700px;

    filter: drop-shadow(0 0 25px #1428a0);
}


.yamha h2{

    font-family: "Bebas Neue", sans-serif;

    position: absolute;

    top: 0%;

    left: 50%;

    transform: translateX(-50%);

    font-size: clamp(200px, 14vw, 260px);

    z-index: 1;

    font-weight: bold;

    white-space: nowrap;

    background: linear-gradient(
        to bottom,
        white 20%,
        rgba(255,255,255,0) 80%
    );

    background-clip: text;

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}


.yamha h3{

    position: absolute;

    font-size: clamp(10px, 5vw, 20px);

    z-index: 3;

    bottom: 8%;

    left: 50%;

    transform: translateX(-50%);

    color:#d1c0a5;

    font-weight: bolder;

    font-family: Arial, Helvetica, sans-serif;

    white-space: nowrap;
}

.front-ytext{

    flex: 1;

    padding-left: 20%;

    margin-left: 2%;

    z-index: 3;
}


.front-ytext h3{
    color: #d1c0a5;

    font-family: "Bebas Neue", sans-serif;

    font-size: clamp(35px, 4vw, 70px);

    margin-bottom: 20px;
}


.front-ytext p{
    line-height: 2;
    color: #d1c0a5;
}

.front-ytext button{
    margin-top: 25px;

    padding: 14px 32px;

    border: none;

    background: #132ec7;
    color: #d1c0a5;

    cursor: pointer;

    border-radius: 15px;
}

.front-ytext a{
    text-decoration: none;
}

.yamha,
.front-ytext{
    flex: 1 1 400px;
}

@media(max-width: 900px){

    .yamha-bike{

        height: auto;

        padding: 80px 8%;

        background: linear-gradient(
    
        black 20%,
        #011064 80%
    );
    }

    .yamha{

        margin-bottom: 60px;
    }

    .yamha h2{

        font-size: clamp(90px, 22vw, 160px);

        top: 0%;

        left: 50%;

        transform: translateX(-50%);

        opacity: 1;
    }

    .front-ytext{

        padding-left: 0;

        text-align: center;
    }

    .front-ytext h3{

        margin-top: 20px;
    }
}

/*  Ninja   */

.ninja-bike{

    background: linear-gradient(
        90deg,
        black 20%,
        white 80%
    );

    display: flex;

    flex-wrap: wrap;

    align-items: center;

    align-content: center;

    margin-top: 10px;

    height: 450px;

    padding: 40px 8%;

    box-sizing: border-box;
}

.ninja{

    position: relative;

    flex: 1 1 400px;

    display: flex;

    justify-content: center;

    align-items: center;

} 

.ninja img{

    position: relative;

    z-index: 2;

    width: min(85%, 650px);

    max-width: 700px;

    filter: drop-shadow(0 0 25px black);
}


.ninja h2{

    font-family: "Bebas Neue", sans-serif;

    position: absolute;

    top: 0%;

    left: 50%;

    transform: translateX(-50%);

    font-size: clamp(200px, 14vw, 260px);

    z-index: 1;

    font-weight: bold;

    white-space: nowrap;

    background: linear-gradient(

        90deg,

        white 20%,

        black 80%
    );

    stroke-width: 2px solid black;

    background-clip: text;

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}


.ninja h3{

    position: absolute;

    font-size: clamp(10px, 5vw, 20px);

    z-index: 3;

    bottom: 8%;

    left: 50%;

    transform: translateX(-50%);

    color:#f1f1f1;

    font-weight: bolder;

    font-family: Arial, Helvetica, sans-serif;

    white-space: nowrap;
}

.front-ntext{

    flex: 1;

    padding-left: 20%;

    margin-left: 2%;

    z-index: 3;
}


.front-ntext h3{
    color: #f1f1f1;
    color: black;

    font-family: "Bebas Neue", sans-serif;

    font-size: clamp(35px, 4vw, 70px);

    margin-bottom: 20px;
}


.front-ntext p{

    line-height: 2;

    color: #f1f1f1;
    color: black;
}

.front-ntext button{

    margin-top: 25px;

    padding: 14px 32px;

    border: none;

    background: rgb(0, 0, 0);

    color: #f1f1f1;

    cursor: pointer;

    border-radius: 15px;
}

.front-ntext a{
    text-decoration: none;
}

.ninja,
.front-ntext{
    flex: 1 1 400px;
}

@media(max-width: 900px){

    .ninja-bike{

        height: auto;

        padding: 80px 8%;

        background: linear-gradient(
            black 20%,
            white 80%
        );
    }

    .ninja{

        margin-bottom: 60px;
    }

    .ninja h2{

        font-size: clamp(90px, 22vw, 160px);

        top: 0%;

        background: linear-gradient(

        to bottom,
        white 20%,

        black 80%
    );

    background-clip: text;

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

        left: 50%;

        transform: translateX(-50%);

        opacity: 1;
    }

    .ninja h3{
        color: black;

        text-decoration: solid;

        stroke-width: 2px solid black;
    }

    .front-ntext{

        padding-left: 0;

        text-align: center;
    }


    .front-ntext h3{

        margin-top: 20px;
    }
}



/*  Gallary   */

.gallary{

    background-color: #2a2529;

    background:

    radial-gradient(circle at top left,

  rgba(255,0,0,0.1),

    transparent 30%),

    radial-gradient(circle at bottom right,
    
  rgba(0,100,255,0.1),

    transparent 30%),

  #0b0b0b;

    display: grid;

    grid-template-columns: repeat(4, minmax(200px, 1fr));

    gap: 25px;

    padding: 50px;

    justify-items: center;
}

.card{
    position: relative;

    width: 100%;

    max-width: 260px;

    aspect-ratio: 1/1;

    border-radius: 10%;

    overflow: hidden;

    cursor: pointer;

    transition: 0.4s;
}

.card img{
    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: 0.4s;
}

.overlay{
    position: absolute;

    padding: 10px;

    inset: 0;

    background: rgba(0,0,0,0.6);

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    opacity: 0;

    transition: 0.4s;

    color: white;

    text-align: center;
}

.overlay h2{
    font-family: "Bebas Neue", sans-serif;

    font-size: clamp(10px, 2vw, 40px);

    line-height: 1;

    margin-bottom: 10px;
}

.overlay p{

    font-size: clamp(6px, 1vw, 18px);

    padding: 0 12px;

    line-height: 1.4;

}

.card:hover{
    transform: scale(1.1);

    z-index: 100;

    box-shadow: 0 0 40px rgba(0,0,0,0.5);
}

.card:hover img{
    transform: scale(1.1);
}

.card:hover .overlay{
    opacity: 1;
}

@media (max-width: 1100px){

    .gallary{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 850px){

    .gallary{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px){

    .gallary{
        grid-template-columns: repeat(1, 1fr);
    }
}

/*  Footer   */

.footer{

    background: #0f0f0f;

    color: white;

    padding: 50px 10% 30px 10%;

    display: flex;

    flex-direction: column;

    gap: 60px;

}

.about h2{

    font-family: sans-serif;

    font-size: clamp(20px , 6vw , 40px);

    margin-bottom: 30px;

    letter-spacing: 3px;

}

.about p{

    color: #cfcfcf;

    line-height: 2;

    font-size: clamp(14px, 1.1vw, 20px);

    margin-bottom: 25px;

    max-width: 1200px;

}

.contact{

    position: relative;

    display: flex;

    padding-top: 20px;

    justify-content: space-between;

    gap: 25px;

}

.contact h2{

    font-family:sans-serif;

    font-size: clamp(20px, 3vw, 30px);

    letter-spacing: 2px;
}

.contact a{

    text-decoration: none;

    color: white;
}

.contact::before{

    content: "";

    position: absolute;

    top: 0;

    left: 50%;

    transform: translateX(-50%);

    width: 100%;

    height: 1px;

    background: rgba(255,255,255,0.2);
    
    background: linear-gradient(
        
    to right,

    rgba(255,255,255,0),

    rgba(255,255,255,0.8),

    rgba(255,255,255,0)

    );
}

